body {
  margin: 0;

  background-color: rgb(224, 216, 224);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
header {
  background-color: beige;
  height: 50px;
}

.logoImg {
  height: 40px;
  width: auto;
  margin-top: 5px;
  margin-left: 25px;
}
.inlineBlockDisplay {
  display: inline-block;
}
.menuListItem {
  display: inline-block;
  margin-left: 15px;
}
.menuDiv {
  float: right;
  width: 30%;
}

.menuList {
  padding: 0;
}
.noDecor {
  text-decoration: none;
}
.noDecor:hover {
  color: rgb(70, 127, 192);
}
.intro {
  text-align: center;
}
.logo {
  text-align: center;
  margin-top: 75px;
}

.nuotraukos {
  text-align: center;
}
iframe {
  display: block;
  margin: 0 auto;
}

form {
  padding: 5px;
  display: inline-block;
  border: 3px solid rgba(75, 50, 50, 0.212);
}
label {
  display: block;
}
.heading {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.heading1 {
  font-size: 46px;
  color: darkgreen;
  margin-top: 15px;
}
.form {
  text-align: center;
  margin-top: 85px;
}

footer {
  text-align: center;
  background-color: azure;
  margin-top: 85px;
}
.apacia {
  margin: 0;
}
.spanas {
  color: brown;
  text-decoration: underline;
}
